@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color:var(---background);
  color: #e8eaed;
box-sizing: content-box;
  
}

.container {
  height: 812px;
  margin: 0 auto;
  padding: 20px;
  background-color: #282c34;
  color: #8d99ae;
  border-radius: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
}

.title h1 {
  margin: 0;
  font-size: 24px;
  margin-bottom: 6px;
  line-height: 36px;
  font: Poppins;
  font-weight: 700;
  color: var(--details);
}

.title span {
  font-size: 12px;
  color: var(--details);
  line-height: 18px;
  font: Poppins;
  font-weight: 400;
  opacity: 50%;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #8d99ae;
}

form span {

  color: var(--details);
}

:root{
  ---background:#23262C;
  --title-color:#FFFFFF;
--details:#F4F6FA;
--btn-color: #F4F6FA;

}
#light{
  ---background:#F4F6FA ;
  background-color:#F4F6FA ;
--main-background: #F4F6FA;
--details: #23262C;
--btn-color:#DADADA;
--title-color:#23262C;


}
